* {
  margin: 0;
}

html, body {
  height: 100%;
}

.box {
  /* background-color: #11f; */
  /* display: flex; */
  color: #fff;
  /* justify-content: center;
  align-items: center; */
  font-size: 4em;
}

section {
  background-color: #8b5e4d;
  height: 100%;
  display: grid;
  gap: 10px;
  /* grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px; */
  /* justify-content: center;
  align-content: center;  */
  /* place-content: center; */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* justify-items: center;
  align-items: center; */
  /* place-items: center; */
}

.box-3 {
  color: #f33;
  justify-self: end;
  align-self: end;
}

.box-6 {
  border: 2px solid;
  justify-self: center;
  align-self: center;
}

.box-9 {
  justify-self: center;
  align-self: end;
}